<h1>Cocktails</h1>

<p>Cloudinary test images (no Active Storage association):</p>
<%= cl_image_tag("prf13tkabjbikixjwivl", title: "boris paris", width: 200, crop: :fill) %>
<%= cl_image_tag("prf13tkabjbikixjwivl", title: "boris heady", width: 200, crop: :thumb, gravity: :face) %>

<ul>
<% @cocktails.each do |cocktail| %>
  <li>
    <%= cl_image_tag cocktail.photo.key, height: 30, crop: :fill %>
    <%= link_to cocktail.name, cocktail_path(cocktail.id) %>
  </li>
<% end %>
</ul>
